<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/eat_mate"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SubmissionAndroidSederhana"
        tools:targetApi="31" >
        <activity
            android:name=".presentation.about_screen.AboutActitvity"
            android:exported="false" />
        <activity
            android:name=".presentation.detail_screen.DetailActivityScreen"
            android:exported="false" />
        <activity
            android:name=".presentation.main_screen.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.SubmissionAndroidSederhana" />
        <activity
            android:name=".presentation.splash_screen.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>